<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<!--google fonts-->
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans&display=swap" rel="stylesheet">
<!--materialize icon-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--custom css-->
<link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <section class="fnavbar">
        <nav class="nav-fixed">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Sherpa King</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#" onclick="toggleModal();">Home</a></li>
                    <li><a href="#" onclick="toggleModal();">About Us</a></li>
                    <li><a href="#" onclick="toggleModal();">Burger</a></li>
                    <li><a href="#" onclick="toggleModal();">Combo Packs</a></li>
                    <li><a href="#" onclick="toggleModal();">Contact</a></li>
                </ul>
            </div>

        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="#" onclick="toggleModal();">Home</a></li>
            <li><a href="#" onclick="toggleModal();">About Us</a></li>
            <li><a href="#" onclick="toggleModal();">Burger</a></li>
            <li><a href="#" onclick="toggleModal();">Combo Packs</a></li>
            <li><a href="#" onclick="toggleModal();">Contact</a></li>
        </ul>
    </section>
</body>
<!--jquery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--custom js-->
<script src="../js/loader.js"></script>

</html>