<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<!--google fonts-->
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans&display=swap" rel="stylesheet">
<!--materialize icon-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--custom css-->
<link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <a href="#" onclick="toogleModal();">Click me</a>
    <section class="infomodal">
        <div id="modal3" class="modal">
            <div class="modal-content">
                <h4 id="info-modal-heading">Link Disabled</h4>
                <p id="info-model-content">Sorry this link is disabled as of now</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close wave-effect btn-flat">Close</a>
            </div>
        </div>
    </section>
<div class="top-header row">
    <div class="brand-logo col s6">TREK WITH SHERPA</div>
    <div class="col s6">
        <p>+977 9866 418 005 WHATSAPP</p>
        <p>ME@trekwithsherpa.com</p>
    </div>
</div>
<div class="bottom-header">
    
</div>
</body>

<!--jquery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--custom js-->
<script src="../js/loader.js"></script>

</html>